@use '../abstracts/index.scss' as *;
@use '../components/index.scss' as *;

.loopstudios {
  &__footer {
    background-color: $color-primary--dark;
    text-align: center;
    padding: 5rem 2.5rem;
    margin-top: 10rem;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    // & > :not(:nth-child(3)) {
    //   margin: 0;
    // }
  }

  &__copyrights {
    color: $color-secondary--dark;
  }

  &__creater {
    color: $color-secondary--dark;
    font-size: 1rem;

    &-link:link,
    &-link:visited {
      text-transform: uppercase;
      color: $color-secondary;
      transition: all 0.3s;
    }

    &-link:hover,
    &-link:active {
      color: $color-primary;
    }
  }

  &__list--icon {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  &__item--icon {
    margin: 0;
  }

  &__link--icon {
  }

  &__icon {
  }
}
