@use '../abstracts/index.scss' as *;
@use '../components/index.scss' as *;

.loopstudios {
  &__footer {
    background-color: $color-primary--dark;
    text-align: center;
    margin-top: 10rem;
    padding: 5rem 2.5rem;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    @media (min-width: 810px) {
      padding: 5rem 8rem;

      & > *:not(:last-child) {
        margin: 0;
      }
    }

    @media (min-width: 1140px) {
      margin-top: 18rem;
      padding: 2rem 16rem 4rem 16rem;
    }
  }

  &__copyrights {
    color: $color-secondary--dark;
  }

  &__creater {
    color: $color-secondary--dark;
    font-size: 1rem;

    &-link:link,
    &-link:visited {
      text-transform: uppercase;
      color: $color-secondary;
      transition: all 0.3s;
    }

    &-link:hover,
    &-link:active {
      color: $color-primary;
    }
  }

  &__list--icon {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    @media (min-width: 810px) {
      align-items: baseline;
      justify-content: end;
    }
  }

  &__item--icon {
    margin: 0;
  }

  &__link--icon {
    &::after {
      width: 100%;
    }
  }
}
