@use '../abstracts/index.scss' as *;

.loopstudios {
  &__wrapper-intro {
    @media (min-width: 1140px) {
      display: grid;
      grid-template-columns: 65% 35%;
      grid-template-rows: 50rem;
    }
  }

  &__creations {
    display: grid;
    grid-template-rows: 7.3rem repeat(8, 1fr) 5rem;
    align-items: center;
    gap: 2.2rem;

    @media (min-width: 810px) {
      grid-template-rows: 7.3rem repeat(4, 1fr) 5rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1140px) {
      grid-template-rows: 10rem repeat(2, 45rem);
      grid-template-columns: repeat(4, 1fr);
      align-items: start;
      gap: 3rem;
    }
  }

  &__footer {
    display: grid;
    align-items: center;
    justify-items: center;

    @media (min-width: 810px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 5rem);
      align-items: end;
      justify-items: unset;
    }
  }
}
