@use '../abstracts/index.scss' as *;

.loopstudios {
  &__header {
    padding-top: 4rem;

    @media (min-width: 1140px) {
      padding-top: 6rem;
      display: flex;
      align-items: end;
      justify-content: space-between;
    }

    &--mobile {
      background-color: #000;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 4rem 2.5rem;
      min-height: 100vh;
      visibility: hidden;
      opacity: 0;

      &.is-visible {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__logo {
    width: 14rem;

    @media (min-width: 1140px) {
      width: 19rem;
    }
  }

  &__icon-hamburger {
    @media (min-width: 1140px) {
      display: none;
    }
  }
}
