@use '../abstracts/index.scss' as *;

.loopstudios {
  &__nav {
    &--primary {
      visibility: hidden;
      opacity: 0;

      &.is-visible {
        visibility: visible;
        opacity: 1;
        margin-top: 18rem;
      }
    }

    &--secondary {
      @media (min-width: 810px) {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
      }
    }
  }

  &__list {
    list-style: none;

    &--primary {
      display: none;
    }

    &--secondary {
      margin: 2rem 0;

      @media (min-width: 810px) {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
  }

  &__item {
    &--primary {
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
    }

    &--secondary {
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }

      @media (min-width: 810px) {
        &:not(:last-child) {
          margin: 0;
        }
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-primary;
      font-size: 1.4rem;
      font-family: $font-secondary;
      font-weight: 300;
      text-decoration: none;
    }

    &--primary {
      &:link,
      &:visited {
        font-family: $font-primary;
        font-size: 2.5rem;
        text-transform: uppercase;
      }
    }

    &--secondary {
    }
  }
}
