@use '../abstracts/index.scss' as *;

.loopstudios {
  &__nav {
    &--primary {
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;

      &.is-visible {
        visibility: visible;
        opacity: 1;
        margin-top: 18rem;
      }

      @media (min-width: 1140px) {
        visibility: visible;
        opacity: 1;
      }
    }

    &--secondary {
      @media (min-width: 810px) {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
      }
    }
  }

  &__list {
    list-style: none;

    &--primary {
      display: none;

      &.is-unset {
        display: unset;
      }

      @media (min-width: 1140px) {
        display: flex;
        align-items: center;
        gap: 4rem;
      }
    }

    &--secondary {
      margin: 2rem 0;

      @media (min-width: 810px) {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 2rem;
      }

      @media (min-width: 1140px) {
        gap: 4rem;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }

    @media (min-width: 810px) {
      &:not(:last-child) {
        margin: 0;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-primary;
      font-size: 1.4rem;
      font-family: $font-secondary;
      font-weight: 300;
      text-decoration: none;
      position: relative;
      display: inline-block;
    }

    &::after {
      content: '';
      background-color: $color-primary;
      width: 50%;
      height: 0.1rem;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      &::after {
        content: '';
        visibility: visible;
        opacity: 1;
        top: 140%;
      }
    }

    &--primary {
      &:link,
      &:visited {
        font-family: $font-primary;
        font-size: 2.5rem;
        text-transform: uppercase;
      }

      @media (min-width: 810px) {
        &:link,
        &:visited {
          font-size: 4.5rem;
        }
      }

      @media (min-width: 1140px) {
        &:link,
        &:visited {
          font-family: $font-secondary;
          font-size: 1.4rem;
          text-transform: unset;
        }
      }
    }
  }
}
