@use '../abstracts/index.scss' as *;

.loopstudios__btn {
  width: 16rem;
  background: unset;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: $font-secondary;
  border: 0.2rem solid $color-primary--dark;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-top: 3rem;
  padding: 1rem;
  justify-self: center;
  transition: all 0.3s;

  &:hover {
    color: $color-primary;
    background-color: $color-primary--dark;
    cursor: pointer;
  }

  @media (min-width: 810px) {
    grid-column: 1 / -1;
  }

  @media (min-width: 1140px) {
    margin: 0;
    justify-self: end;
    grid-row: 1 / 2;
  }

  &--hamburger {
    all: unset;
    border: 0;
  }
}
