@use '../abstracts/index.scss' as *;

.loopstudios {
  &__container {
    padding: 0 2.5rem;
  }

  &__wrapper {
    &-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
