@use '../abstracts/index.scss' as *;

.loopstudios {
  &__container {
    padding: 0 2.5rem;

    @media (min-width: 810px) {
      padding: 0 8rem;
    }

    @media (min-width: 1140px) {
      padding: 0 16rem;
    }
  }

  &__wrapper {
    &-logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-intro {
      @media (min-width: 1140px) {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 50rem;
      }
    }

    &-copyright {
      @media (min-width: 810px) {
        text-align: right;
      }
    }
  }
}
