$color-primary: hsl(0, 0%, 100%);
$color-primary--dark: hsl(0, 0%, 0%);
$color-secondary: hsl(0, 0%, 55%);
$color-secondary--dark: hsl(0, 0%, 41%);

$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Alata', sans-serif;
